/* .hero-section{
  background-image: url(/assets/image/robi.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.205);
  background-attachment: fixed;
  background-size: contain;
  height: 700px;
} */
body{
  overflow-x: hidden;
}
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  #family,#couple,#portrait,#automobile{
    width: 100%;
  }
  
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #video{
    width: 400px;
    height: 400px;
  }
 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #video{
    width: 720px;
    height: 480px;
  }
 }

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  #family,#couple,#portrait,#automobile{
    width: 50%;
  }
  #video{
    width: 1080px;
    height: 650px;
  }
  .filmModal-btn{
    width: 650px;
  }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }